@import "../../styles/variables";

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  width: fit-content;
  height: fit-content;
  transform: translateX(-50%);
  background-color: $accent-color;
  color: #121212;
  padding: 12px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  opacity: 0;

  &.slide-in {
    animation: slide-down 0.3s ease-out forwards;
  }

  &.slide-out {
    animation: slide-up 0.3s ease-in forwards;
  }

  .toast-message {
    font-size: 1rem;
    font-weight: 500;
  }
}

@keyframes slide-down {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}
