@use "../../styles/variables" as var;

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  min-width: 220px;
  max-height: 220px;
  padding: 10px 12px;
  background: var.$secondary-background-color;
  border-radius: 20px;
  box-shadow: var.$box-shadow-medium;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @media screen and (max-width: var.$breakpoint-xl) {
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: var.$box-shadow-accent-2;
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

    h2 {
      margin: 0;
      width: 100%;
      max-width: 80%;
      height: fit-content;
      font-size: 20px;
      font-weight: 500;
      color: var.$primary-text-color;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .actionButtons {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;
      transition: opacity 0.2s ease-in-out;
      position: relative;

      .optionsDropdown {
        position: absolute;
        top: 40px;
        right: -10px;
        background-color: var.$background-color;
        border-radius: 10px;
        box-shadow: var.$box-shadow-medium;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px;
        z-index: 1;
        width: 150px;
        height: 80px;

        button {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          width: 100%;
          padding: 5px 10px;
          background-color: transparent;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          user-select: none;
          color: var.$primary-text-color;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

          img {
            width: 22px;
            height: 22px;
          }
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 3px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        img {
          width: 28px;
          height: 28px;
          object-fit: contain;
          transition: transform 0.2s ease;
          padding: 4px;
        }
      }
    }
  }

  .cardContent {
    width: 100%;
    height: 170px;

    p {
      margin: 0;
      width: 100%;
      max-width: 300px;
      height: 100%;
      font-size: 14px;
      font-weight: 300;
      color: var.$secondary-text-color;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      line-clamp: 8;
    }
  }
}
