@use "../../styles/variables" as var;

.cardContainer {
  background: var.$secondary-background-color;
  border-radius: 20px;
  box-shadow: var.$box-shadow-medium;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 220px;
  max-width: 300px;
  min-width: 220px;
  padding: 10px 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @media screen and (max-width: var.$breakpoint-xxxl) {
    max-width: 280px;
  }

  @media screen and (max-width: var.$breakpoint-xxl) {
    max-width: 255px;
  }

  @media screen and (max-width: var.$breakpoint-xl) {
    max-width: 216px;
    min-width: 200px;
  }

  @media screen and (max-width: var.$breakpoint-md) {
    max-width: 224px;
    min-width: 224px;
  }

  @media screen and (max-width: var.$breakpoint-sm) {
    min-width: 100%;
  }

  &:hover {
    box-shadow: var.$box-shadow-accent-2;
    transform: translateY(-5px);
  }

  .cardHeader {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
    width: 100%;

    h2 {
      color: var.$primary-text-color;
      font-size: 20px;
      font-weight: 500;
      height: fit-content;
      margin: 0;
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .actionButtons {
      align-items: center;
      display: flex;
      gap: 10px;
      justify-content: end;
      position: relative;
      transition: opacity 0.2s ease-in-out;
      width: fit-content;

      .optionsDropdown {
        align-items: center;
        background-color: var.$background-color;
        border-radius: 10px;
        box-shadow: var.$box-shadow-medium;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: fit-content;
        padding: 5px;
        position: absolute;
        right: -10px;
        top: 40px;
        width: 150px;
        z-index: 1;

        button {
          align-items: center;
          background-color: transparent;
          border: none;
          border-radius: 5px;
          color: var.$primary-text-color;
          cursor: pointer;
          display: flex;
          font-family: var.$font_family;
          gap: 10px;
          justify-content: flex-start;
          padding: 5px 10px;
          user-select: none;
          width: 100%;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

          img {
            height: 22px;
            width: 22px;
          }
        }
      }

      button {
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        padding: 3px;
        user-select: none;
        width: 30px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        img {
          height: 28px;
          object-fit: contain;
          padding: 4px;
          transition: transform 0.2s ease;
          width: 28px;
        }
      }
    }
  }

  .cardContent {
    height: 170px;
    width: 100%;

    p {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      color: var.$secondary-text-color;
      display: -webkit-box;
      font-size: 14px;
      font-weight: 300;
      height: 100%;
      line-clamp: 8;
      margin: 0;
      max-width: 300px;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}