@use "../../styles/variables" as var;

.dialogBoxContainer {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &.is-visible {
    opacity: 1;
    pointer-events: all;
  }

  .dialogBox {
    width: 30%;
    height: 30%;
    padding: 20px;
    background-color: var.$background-color;
    border-radius: 12px;
    box-shadow: var.$box-shadow-medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .dialogHeader {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
        width: 100%;
        height: fit-content;
        color: var.$primary-text-color;
        font-family: var.$font_family;
        font-size: 24px;
        font-weight: 500;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: transparent;
        border: none;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .dialogContent {
      width: 100%;
      height: fit-content;
      color: var.$secondary-text-color;
      font-family: var.$font_family;
      font-size: 16px;
      text-align: start;

      p {
        margin: 0;
        padding: 0;
        height: fit-content;
      }
    }

    .dialogActions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      button {
        width: 34%;
        height: 40px;
        padding: 4px 16px;
        background-color: var.$accent-color;
        color: var.$button-text-color-1;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        font-family: var.$font_family;
        font-size: 16px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: rgba(var.$accent-color, 0.8);
        }
      }

      .deleteBtn,
      .editCloseBtn,
      .addCloseBtn {
        background-color: red;
        color: var.$white;

        &:hover {
          background-color: rgba(red, 0.8);
        }
      }
    }
  }
}
