@use "sass:color";
@use "../../styles/variables" as var;

.addNoteOverlay {
  -webkit-backdrop-filter: blur(4px);
  align-items: center;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 1000;

  &.is-visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.addNoteContainer {
  align-items: flex-start;
  background-color: var.$secondary-background-color;
  border-radius: 8px;
  box-shadow: var.$box-shadow-soft;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80%;
  justify-content: flex-start;
  opacity: 0;
  overflow-y: auto;
  padding: 20px;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 50%;

  @media screen and (max-width: var.$breakpoint-xl) {
    height: 78%;
    width: 80%;
  }

  @media screen and (max-width: var.$breakpoint-xl) {
    height: 90%;
    width: 90%;
  }

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .formHeader {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    width: 100%;

    .formTitle {
      color: var.$primary-text-color;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    }

    .closeButton {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 4px;
      width: fit-content;

      img {
        border-radius: 20px;
        height: 28px;
        padding: 2px;
        width: 28px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .formFields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;

    .formGroup {
      display: flex;
      flex-direction: column;
      gap: 4px;
      height: fit-content;
      position: relative;
      width: 100%;

      label {
        border-radius: 10px;
        color: lightgrey;
        font-family: var.$font_family;
        font-size: 16px;
        font-weight: 400;
        height: fit-content;
        left: 10px;
        pointer-events: none;
        position: absolute;
        top: 8px;
        transition: all 0.2s ease-in-out;
        width: fit-content;
      }

      input,
      textarea {
        background-color: transparent;
        border: 1px solid var.$secondary-text-color;
        border-radius: 5px;
        color: var.$primary-text-color;
        font-family: var.$font_family;
        font-size: 16px;
        font-weight: 400;
        height: 40px;
        padding: 10px;
        width: 100%;

        &:focus,
        &:not(:placeholder-shown) {
          border-color: var.$accent-color;
        }

        &:focus {
          outline: none;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
          background-color: var.$secondary-background-color;
          color: var.$accent-color;
          font-size: 12px;
          left: 5px;
          padding: 0 5px;
          top: -12px;
        }


      }

      textarea {
        height: 100%;
        resize: none;
      }

      .errorMessage {
        color: red;
        font-size: 12px;
        padding-left: 5px;
      }
    }

    .textArea {
      height: 100%;
      max-height: 600px;
      min-height: 300px;
    }
  }

  .buttonContainer {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: 10px 0;
    width: 100%;

    button {
      background-color: var.$accent-color;
      border: none;
      border-radius: 20px;
      color: var.$button-text-color-1;
      cursor: pointer;
      font-family: var.$font_family;
      font-size: 16px;
      font-weight: 500;
      height: 40px;
      transition: all 0.3s ease;
      width: 100%;

      &:hover {
        background-color: color.adjust(#bb86fc, $lightness: -4%);
        box-shadow: var.$box-shadow-accent-1;
      }
    }
  }
}
