@use "sass:color";
@use "../../styles/variables" as var;

.addNoteForm {
  position: fixed;
  top: 10%;
  right: -100%;
  z-index: 1000;
  width: 50%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var.$secondary-background-color;
  border-radius: 20px 0 0 20px;
  box-shadow: var.$box-shadow-soft;
  transition: right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.show {
    right: 0;
  }

  .formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;

    .formTitle {
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      color: var.$primary-text-color;
    }

    .closeButton {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;

      &:hover {
        color: var.$accent-color;
      }
    }
  }

  .formFields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;

    .formGroup {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;
      height: fit-content;

      label {
        position: absolute;
        left: 10px;
        top: 8px;
        width: fit-content;
        height: fit-content;
        color: lightgrey;
        font-family: var.$font_family;
        font-size: 16px;
        font-weight: 400;
        border-radius: 10px;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
      }

      input,
      textarea {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid var.$secondary-text-color;
        border-radius: 5px;
        background-color: transparent;
        color: var.$primary-text-color;
        font-family: var.$font_family;
        font-size: 16px;
        font-weight: 400;

        &:focus,
        &:not(:placeholder-shown) {
          border-color: var.$accent-color;
        }

        &:focus {
          outline: none;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
          top: -12px;
          left: 5px;
          font-size: 12px;
          color: var.$accent-color;
          background-color: var.$secondary-background-color;
          padding: 0 5px;
        }
      }

      textarea {
        height: 300px;
        resize: none;
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px 0;

    button {
      width: 100%;
      height: 40px;
      background-color: var.$accent-color;
      color: var.$button-text-color-1;
      border: none;
      border-radius: 20px;
      font-family: var.$font_family;
      font-size: 16px;
      font-weight: 500;
      align-self: flex-end;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: color.adjust(#bb86fc, $lightness: -4%);
        box-shadow: var.$box-shadow-accent-1;
      }
    }
  }
}
